$board_width: 370px;

$ratio: $board_width / ((410 - 22) / 9 * 11 + 22);
$main_board_width: 410 * $ratio;
$main_board_height: 454 * $ratio;
$main_board_padding: 11 * $ratio;
$cell_width: 388 / 9 * $ratio;
$cell_height: 432 / 9 * $ratio;
$hand_width: $cell_width;
$hand_height: $cell_height * 7; // P, R, B, L, N, S

.board {
  width: $board_width;
  height: $main_board_height;
}

.hand-outer {
  width: $hand_width;
  height: 100%;
  float: left;
  position: relative;
}

.hand {
  width: $hand_width;
  height: $hand_height;
  background: url('../img/ban_dark.png');
  background-repeat: no-repeat;
  position: absolute;

  &.black {
    bottom: 0;
  }
  &.white {
    top: 0;
  }
}

.hand-cell {
  width: $cell_width;
  height: $cell_height;
  position: relative;

  .count {
    position: absolute;
    top: 0;
    right: $cell_width / 16;
    color: white;
    font-size: $cell_height / 2.4;
    text-shadow:
      .5px .5px black,
      .5px -.5px black,
      -.5px .5px black,
      -.5px -.5px black;

    &.hidden {
      display: none;
    }
  }
}

.main-board {
  width: $main_board_width;
  height: $main_board_height;
  background: url('../img/masu_dot_xy.png'), url('../img/ban_kaya_a.png');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: $main_board_padding;
  float: left;
}

.cell {
  width: $cell_width;
  height: $cell_height;
  margin: 0;
  padding: 0;
  float: left;

  &.K { background: url('../img/koma/Sou.png'); }
  &.R { background: url('../img/koma/Shi.png'); }
  &.B { background: url('../img/koma/Skaku.png'); }
  &.G { background: url('../img/koma/Skin.png'); }
  &.S { background: url('../img/koma/Sgin.png'); }
  &.N { background: url('../img/koma/Skei.png'); }
  &.L { background: url('../img/koma/Skyo.png'); }
  &.P { background: url('../img/koma/Sfu.png'); }
  &.pR { background: url('../img/koma/Sryu.png'); }
  &.pB { background: url('../img/koma/Suma.png'); }
  &.pS { background: url('../img/koma/Sngin.png'); }
  &.pN { background: url('../img/koma/Snkei.png'); }
  &.pL { background: url('../img/koma/Snkyo.png'); }
  &.pP { background: url('../img/koma/Sto.png'); }

  &.k { background: url('../img/koma/Gou.png'); }
  &.r { background: url('../img/koma/Ghi.png'); }
  &.b { background: url('../img/koma/Gkaku.png'); }
  &.g { background: url('../img/koma/Gkin.png'); }
  &.s { background: url('../img/koma/Ggin.png'); }
  &.n { background: url('../img/koma/Gkei.png'); }
  &.l { background: url('../img/koma/Gkyo.png'); }
  &.p { background: url('../img/koma/Gfu.png'); }
  &.pr { background: url('../img/koma/Gryu.png'); }
  &.pb { background: url('../img/koma/Guma.png'); }
  &.ps { background: url('../img/koma/Gngin.png'); }
  &.pn { background: url('../img/koma/Gnkei.png'); }
  &.pl { background: url('../img/koma/Gnkyo.png'); }
  &.pp { background: url('../img/koma/Gto.png'); }
}

span.cell.piece { background-size: 100%; }
