@import "lib/board";

@media screen and (min-width: 641px) {
  $board_width: 500px;
  @include board($board_width);
  body {
    font-size: 12px;
  }

  .board-wrapper {
    position: relative;
    float: left;
  }

  .kento {
    margin: 30px auto auto auto;
    width: 800px;
    height: auto;
    position: relative;
  }

  .info-wrapper {
    width: 300px;
    float: left;
  }

  .game-info-wrapper {
    width: 300px;
    padding: 0 20px 0 20px;
    margin-bottom: 15px;
    line-height: 20px;
    .game-info {
      background-color: whitesmoke;
      padding: 5px;
    }
    .players {
      position: relative;
      overflow: hidden;
      div {
        float: left;
        margin-right: 10px;
      }
    }
    .game {
      overflow: hidden;
      position: relative;
    }
  }

  .move-list-wrapper {
    height: calc(#{board_height($board_width)} - 300px);
    width: 300px;
    float: left;
    position: relative;

    .move-list {
      margin: 0 20px 0 20px;
      width: calc(100% - 60px);
      height: 100%;
      overflow: scroll;
      position: relative;
    }
  }

  .comment {
    height: 200px;
    width: 300px;
    padding: 0 20px 0 20px;
    margin-top: 15px;
    line-height: 20px;
    float: left;

    .comment-body {
      padding: 5px;
      background-color: whitesmoke;
      position: relative;
      overflow: scroll;
      height: 100%;

      p {
        margin: 0;
      }
    }
  }
}
