@import "lib/board";

@media screen and (max-width: 640px) {
  $board_width: 100vw;
  @include board($board_width);

  .board-wrapper {
    position: relative;
  }

  .kento {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  .game-info {
    margin: 15px 15px 0 15px;
    line-height: 20px;
    .players {
      position: relative;
      overflow: hidden;
      div {
        float: left;
        margin-right: 10px;
      }
    }
    .game {
      overflow: hidden;
      position: relative;
      div {
        float: left;
        margin-right: 10px;
      }
    }
  }

  .move-list-wrapper {
    height: calc(100vh - #{board_height($board_width)} - 55px);
    width: 100vw;
    padding: 15px;
    position: relative;

    .move-list {
      height: 100%;
      overflow: scroll;
      position: relative;
    }
  }
}
