@import "lib/board";

@media screen and (max-width: 640px) {
  $board_width: 100vw;
  @include board($board_width);

  .board-wrapper {
    position: relative;
  }

  .kento {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  .game-info-wrapper {
    margin: 15px 15px 0 15px;
    line-height: 20px;
    .game-info {
      background-color: whitesmoke;
      padding: 5px;
    }
    .players {
      position: relative;
      overflow: hidden;
      div {
        float: left;
        margin-right: 10px;
      }
    }
    .game {
      overflow: hidden;
      position: relative;
      div {
        float: left;
        margin-right: 10px;
      }
    }
  }

  .comment {
    height: 15vh;
    margin: 15px 15px 0 15px;
    .comment-body {
      padding: 5px;
      background-color: whitesmoke;
      overflow: scroll;
      height: 100%;
      p {
        margin: 0;
      }
    }
  }

  .move-list-wrapper {
    display: none;
  }

  .move-menu-wrapper {
    height: calc(85vh - #{board_height($board_width)} - 90px);
    width: 100vw;
    padding: 15px;
    position: relative;

    .move-list {
      height: 100%;
      overflow: scroll;
      position: relative;
    }
  }
}
